<h2>Create New Employee</h2>


<div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                 
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Create</button>
                    </form>



                </div>
            </div>
        </div>

